/*semantic UI menu has NavLink inside Menu.Item
so, navlink is one that is clickable.
 Had to remove padding from MenuItem, and add padding to Navlink, so all area in the menu is clickable.
*/
.ui.menu{
    background-color: rgb(34, 36, 148);
}
.ui.menu .item{
    padding:0
}
a.link{
   padding: 1em;
   border-radius: 3px;
   color: white;
   
}
.link.selected{
    background-color: rgb(96, 130, 194);
    color:black
}